@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

.header {
  height: 60px;
  width: 93rem;
  border-radius: 11px;
  margin-top: 3px;
  margin-left: 20px;
  background-color: rgb(225, 231, 231);
}
.header input {
  height: 37px;
  width: 311px;
  border-radius: 15px;
  padding: 15px;
  margin: 11px;
  font-size: 16px;
  border: none;
}
.dropdown {
  margin-left: 23rem;
  margin-top: -45px;
  gap: 62px;
  display: flex;
  color: rgb(98, 95, 95);
}
.dropdown span {
  margin-left: -58px;
  margin-top: 4px;
}
